<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Prodicity Property View</title>
	<!-- For input stylesheet -->
	<link th:rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css} " />
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/navigation-menu.css}" />
	<link th:rel="stylesheet" th:href="@{/css/customerform.css} " />
</head>

<body>
	<div th:replace="fragments/layout :: headermenu"></div>
		<div class="subheader">
			Password Change
		</div>
		
		<div class="form-holder">
		<form th:object="${passwordHandler}" th:action="@{/user/savenewatu}" method="post">
			<filedset>
				<input type="hidden" th:field="*{id}"/>
			</filedset>
			<fieldset>
				<p class="form-prompt" th:text="#{passwordchangeform.oldpassword}"></p>
				<input class="form-input-text" type="password"  th:field="*{oldpassword}"/>
				<p class="form-err"th:if="${#fields.hasErrors('oldpassword')}" th:errors="*{oldpassword}"></p>
				<p class="form-err"th:if="${passErr != null and passErr}">*Wrong Password</p>
			</fieldset>
			<br/>
			<fieldset>
				<p class="form-prompt" th:text="#{passwordchangeform.newpassword}"></p>
				<input class="form-input-text" type="password"  th:field="*{newpassword}"/>
				<p class="form-err"th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}"></p>
			</fieldset>
			<fieldset>
				<p class="form-prompt" th:text="#{passwordchangeform.passwordconfirm}"></p>
				<input class="form-input-text" type="password" th:field="*{confirmpassword}"/>
				<p class="form-err"th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}"></p>
			</fieldset>
			<br/>
			<fieldset>
				<button type="submit"  class="btn btn-secondary">Confirm</button>
				<a th:href="@{/user/profile}"><button type="button"  class="btn btn-secondary">Cancel</button></a>
			</fieldset>
		</form>
		
	</div>

		
</body>

</html>