<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Prodicty - Login</title>
	<!-- For input stylesheet -->
	<link th:rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/external/fontawesome/css/all.css} " />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<center>
		<h2 class="text-primary pt-5">Prodicty</h2>
	</center>
	<br />
	<div class="container">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form name='f' th:action="@{/login}" method='POST'>
					<div class="container">
						<div class="row">
							<div th:if="${param.error}" class="col text-danger font-weight-bold pb-3">
								Invalid username or password.
							</div>

						</div>
						<div class="row">
							<div th:if="${param.logout}" class="col text-success font-weight-bold pb-3">
								You have been logged out.
							</div>
						</div>
						<div class="row">
							<div class="col form-outline">
								<label class="form-label" for="username">Email address</label>
								<input type="text" id="username" name="username" class="form-control" />

							</div>
						</div>
						<div class="row">
							<div class="col form-outline">
								<label class="form-label" for="password">Password</label>
								<input type="password" id="password" name="password" class="form-control" />

							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col">
								<a th:href="@{/account-matter/passwordhandler/resetemail}">Forgot password?</a>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col">
								<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
								<div class="text-center">
									<p>Don't have an account? <a th:href="@{/account-matter/newuser/userform}">Create an
											Account</a></p>
								</div>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col">
								<a th:href="@{/}">Return to site</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
	
</body>

</html>