<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Prodicty - News</title>
    <!-- For input stylesheet -->
    <link th:rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css} " />
    <link th:rel="stylesheet" th:href="@{/external/fontawesome/css/all.css} " />
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/navigation-menu.css}" />
    <link th:rel="stylesheet" th:href="@{/css/home.css} " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    </div>
    <!-- Menu section -->
    <div th:replace="fragments/layout :: headermenu"></div>
    <br>
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-all-news-tab" data-toggle="tab" data-target="#nav-all-news" type="button"
                role="tab" aria-controls="nav-all-news" aria-selected="true">All News</button>
            <button class="nav-link" id="nav-bto-tab" data-toggle="tab" data-target="#nav-bto" type="button"
                role="tab" aria-controls="nav-bto" aria-selected="false">Build-To-Order (BTO)</button>
            <button class="nav-link" id="nav-ec-tab" data-toggle="tab" data-target="#nav-ec" type="button"
                role="tab" aria-controls="nav-ec" aria-selected="false">Executive Condo (EC)</button>
            <button class="nav-link" id="nav-resale-tab" data-toggle="tab" data-target="#nav-resale" type="button"
                role="tab" aria-controls="nav-resale" aria-selected="false">Resale </button>
            <button class="nav-link" id="nav-finance-tab" data-toggle="tab" data-target="#nav-finance" type="button"
                role="tab" aria-controls="nav-finance" aria-selected="false">Finance</button>
        </div>
    </nav>
    <div class="tab-content container" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-all-news" role="tabpanel" aria-labelledby="nav-all-news-tab">
            <div class="row">
                <div class="col-md-6" style="padding-top: 15px;"  th:each="news: ${allNews}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title news-title" th:text="${news.title}"></h5>
                            <p class="card-text" th:text="${#dates.format(news.date, 'dd-MMM-yyyy')}"></p>
                            <a th:href="${news.url}" target="_blank" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-bto" role="tabpanel" aria-labelledby="nav-bto-tab">
            <div class="row">
                <div class="col-md-6" style="padding-top: 15px;"  th:each="news: ${btoNews}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title news-title" th:text="${news.title}"></h5>
                            <p class="card-text" th:text="${#dates.format(news.date, 'dd-MMM-yyyy')}"></p>
                            <a th:href="${news.url}" target="_blank" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-ec" role="tabpanel" aria-labelledby="nav-ec-tab">
            <div class="row">
                <div class="col-md-6" style="padding-top: 15px;"  th:each="news: ${ecNews}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title news-title" th:text="${news.title}"></h5>
                            <p class="card-text" th:text="${#dates.format(news.date, 'dd-MMM-yyyy')}"></p>
                            <a th:href="${news.url}" target="_blank" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-resale" role="tabpanel" aria-labelledby="nav-resale-tab">
            <div class="row">
                <div class="col-md-6" style="padding-top: 15px;"  th:each="news: ${resaleNews}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title news-title" th:text="${news.title}"></h5>
                            <p class="card-text" th:text="${#dates.format(news.date, 'dd-MMM-yyyy')}"></p>
                            <a th:href="${news.url}" target="_blank" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-finance" role="tabpanel" aria-labelledby="nav-finance-tab">
            <div class="row">
                <div class="col-md-6" style="padding-top: 15px;"  th:each="news: ${financeNews}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title news-title" th:text="${news.title}"></h5>
                            <p class="card-text" th:text="${#dates.format(news.date, 'dd-MMM-yyyy')}"></p>
                            <a th:href="${news.url}" target="_blank" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>