<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Prodicity Budget</title>
	<!-- For input stylesheet -->
	<link th:rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/navigation-menu.css}" />
	<link th:rel="stylesheet" th:href="@{/css/budgetform.css} " />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<script type="text/javascript" src="https://cdn.onemap.sg/leaflet/onemap-leaflet.js"></script>
</head>

<body>
<div th:replace="fragments/layout :: headermenu"></div>
	<div class="subheader">
		Calculated Budget
	</div>
	
	<div class="container budget-data-container">
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Loan Taken:
			</div>
			<div class="col budget-data-field">
				$ <span th:text="${#numbers.formatDecimal(budgetCalData.loanTaken, 0, 'COMMA', 2, 'POINT')}"></span> 
			</div>			
		</div>
		
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Downpayment:
			</div>
			<div class="col budget-data-field">
				$ <span th:text="${#numbers.formatDecimal(budgetCalData.downpayment, 0, 'COMMA', 2, 'POINT')}"></span> 
			</div>			
		</div>
		
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Total Interest:
			</div>
			<div class="col budget-data-field">
				$ <span th:text="${#numbers.formatDecimal(budgetCalData.totalInterest, 0, 'COMMA', 0, 'POINT')}"></span> 
			</div>			
		</div>
		<br/>
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Monthly Repayment:
			</div>
			<div class="col budget-data-field">
				$ <span th:text="${#numbers.formatDecimal(budgetCalData.monthlyRepayment, 0, 'COMMA', 2, 'POINT')}"></span> 
			</div>			
		</div>
		
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Duration:
			</div>
			<div class="col budget-data-field">
				<span th:text="${budgetCalData.duration}"></span> months 
			</div>			
		</div>
		<br/>
		
		
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Loan to income ratio:
			</div>
			<div class="col budget-data-field">
				<span th:classappend="${budgetCalData.getRatio()}>30 ? warning-val" th:text="${#numbers.formatDecimal(budgetCalData.getRatio(), 0, 'COMMA', 2, 'POINT')}"></span> %
			</div>			
		</div>
		<div class="row data-row">
			<div class="col budget-info-field">
				<p class="budget-info-text">* Ratio should not exceed 30%</p>
			</div>
		</div>
		
		<div class="row data-row">
			<div class="col-3 budget-data-prompt">
				Available Income:
			</div>
			<div class="col budget-data-field">
				$ <span th:classappend="${budgetCalData.getAvilIncome()}<0 ? warning-val" th:text="${#numbers.formatDecimal(budgetCalData.getAvilIncome(), 0, 'COMMA', 2, 'POINT')}"></span>
			</div>			
		</div>
		<div class="row data-row">
			<div class="col budget-info-field">
				<p class="budget-info-text">* Consider expense of <span th:text="${budgetCalData.expense}"></span></p>
			</div>
		</div>
		<br/>
		<a th:href="@{/home/budget/param}"><button type="button"  class="btn btn-secondary">Return</button></a>
	</div>
	 
	
</body>